@page "/admin/user/view"
@inject ToastrService Notify
@using blazor_giftcard.Models
@using blazor_giftcard.Services
@inject AdminService AS
<head>
<link rel="stylesheet" href="ListView.css" />
</head>
<PageTitle>GoChap Users</PageTitle>
<h3>Liste des utilisateurs</h3>
<Redirection Url="admin/user/view" />
