@inherits LayoutComponentBase
@using blazor_giftcard.Services
@inject NotificationService NotificationService
<Notification @ref="notificationComponent" />
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="content-wrapper d-flex flex-column">
        <div class="bg-white top-row px-4 d-flex justify-content-between align-items-center">
            <img src="minilogonoir.png" height="50%" style="max-height: 50px;" />
            <a href="/" class="ms-3">Accueil</a>
            <a href="#" class="ms-3" id="profil">Profil</a>
            <a href="/login" class="ms-3" id="loginlink">Se Connecter</a>
            <a href="/logout" class="ms-3" id="logoutlink">Se Deconnecter</a>
            <a href="#" target="_blank" class="ms-3">A propos</a>
        </div>

        <main class="content px-4 flex-grow-1">
            @Body
        </main>
    </div>
</div>

<footer class="footer text-white  py-3 mt-auto">
    <div class="container">
        <div class="row justify-content-between">
            <!-- Column with Image and Text -->
            <div class="col-md-3 d-flex flex-column align-items-center text-center">
                <img src="logoblanc.png" height="50%" style="max-height: 50px;" />
                <span class="mt-2">Commandez, le reste on gère chap chap 🤌</span>
            </div>
            <!-- Column with Quick Links -->
            <div class="col-md-3 text-center">
                <h5>Liens Rapides</h5>
                <ul class="list-unstyled">
                    <li><a href="yourlink.com" class="text-dark">Accueil</a></li>
                    <li><a href="yourlink.com" class="text-dark">Contact</a></li>
                    <li><a href="yourlink.com" class="text-dark">Conditions d'utilisation</a></li>
                    <li><a href="yourlink.com" class="text-dark">Politique de confidentialité</a></li>
                </ul>
            </div>
            <!-- Column with Localisation Info -->
            <div class="col-md-3 text-center">
                <h5>Localisation</h5>
                <ul class="list-unstyled">
                    <li>
                        <i class="fas fa-map-marker-alt"></i>
                        GOCHAP SOLUTIONS SARLU
                    </li>
                    <li>
                        <i class="fas fa-map-marker-alt"></i>
                        Lomé, Adidogomé, Carrefour Franciscain, non loin de la station MRS et du supermarché Champion
                    </li>
                </ul>
            </div>
            <!-- Column with Contact Info -->
            <div class="col-md-3 text-center">
                <h5>Contact</h5>
                <ul class="list-unstyled">
                    <li>
                        <i class="fas fa-phone"></i>
                        (+ 228) 79 90 74 74 / 70 16 38 38
                    </li>
                    <li>
                        <i class="fas fa-envelope"></i>
                        <a href="mailto:info@gochap.solutions" class="text-dark">info@gochap.solutions</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 text-center">
                <span>2024 © All Rights Reserved - GOCHAP SOLUTIONS SARLU</span>
            </div>
        </div>
    </div>
</footer>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
@code {
private Notification notificationComponent;

    protected override void OnInitialized()
    {
        NotificationService.OnNotify += ShowNotification;
    }

    private void ShowNotification(string message, string notificationClass)
    {
        notificationComponent.Show(message, notificationClass);
    }

    public void Dispose()
    {
        NotificationService.OnNotify -= ShowNotification;
    }
}
