<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid" onclick="return false;">
        <a class="navbar-brand" href="#">GOCHAP GIFT CARD </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column" >
        <div class="subscriber nav-item px-3">
            <NavLink class="nav-link" href="#"  onclick="return false;">
                <span class="bi bi-person-fill fs-4" aria-hidden="true"></span>
                <div id="NomSub">
                Nom : <span id="NomSubscriber"></span>
                </div>
            </NavLink>
        </div>
        <div class="subscriber nav-item px-3">
            <NavLink class="nav-link" href="#" onclick="return false;">
                <span class="bi bi-credit-card fs-4" aria-hidden="true"></span>
                <div id="BudgetSub">
                Budget : <span id="BudgetSubscriber"></span>
                </div>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="subscriber nav-item px-3">
            <NavLink class="nav-link" href="view/subscription">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Voir Mes Souscriptions
            </NavLink>
        </div>
        <div class="subscriber nav-item px-3">
            <NavLink class="nav-link" href="view/package">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> <span class="credential">Voir les Packages</span>
            </NavLink>
        </div>
        <div class="subscriber nav-item px-3">
            <NavLink class="nav-link" href="view/beneficiary">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>Liste des beneficiaires
            </NavLink>
        </div>
                <div class="subscriber nav-item px-3">
            <NavLink class="nav-link" href="view/history">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>Consulter Mon Historique
            </NavLink>
        </div>

        <div class="admin nav-item px-3">
            <NavLink class="nav-link " href="admin/user/view">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Liste des utilisateurs
            </NavLink>
        </div>
        <div class="admin nav-item px-3">
            <NavLink class="nav-link " href="admin/package/view">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Liste des Packages
            </NavLink>
        </div>
            <div class="admin nav-item px-3">
            <NavLink class="nav-link " href="admin/role/view" onclick="reloadPage;">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Liste des Roles
            </NavLink>
        </div>
                <div class="admin nav-item px-3">
            <NavLink class="nav-link " href="admin/subscriber/view">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Liste des Souscripteurs
            </NavLink>
        </div>
                        <div class="admin nav-item px-3">
            <NavLink class="nav-link " href="admin/subscription/view">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Liste des Souscriptions
            </NavLink>
        </div>
                <div class="admin nav-item px-3">
            <NavLink class="nav-link " href="admin/beneficiary/view">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Liste des Beneficiaires
            </NavLink>
        </div>
                <div class="admin nav-item px-3">
            <NavLink class="nav-link " href="admin/merchant/view">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Liste des Marchands
            </NavLink>
        </div>
             <div class="admin nav-item px-3">
            <NavLink class="nav-link " href="admin/admin/add">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Ajouter un Admin
            </NavLink>
        </div>
                 <div id="reset-password" style="display:none;"  class="nav-item px-3">
            <NavLink class="nav-link " href="reset-password">
               <span class="bi bi-arrow-repeat fs-4"  style="transform: translateY(-6px);"aria-hidden="true"></span> Changer  mot de passe
            </NavLink>
        </div>

    </nav>
</div>


