<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css.map" />
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css.map" />
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap-icons.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="css/toastr.css" />
    <link rel="stylesheet" href="blazor_giftcard.styles.css" />
    <link rel="icon" type="ico" href="GoChap.ico" />
    <HeadOutlet @rendermode="new InteractiveServerRenderMode(prerender: false)"  />
</head>

<body>
    <Routes @rendermode="new InteractiveServerRenderMode(prerender: false)" />
    <script src="_framework/blazor.web.js"></script>
    <script src="jquery/dist/jquery.min.js"></script>
    <script src="js/role.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="js/toastr.js"></script>
    <script src="bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
