kznhj;zjz
<h3 id="waka">Bienvenue dans mon composant personnalisé</h3>
    <p>Ceci est un composant sans la directive page.</p>
    <h3>Bienvenue dans mon composant personnalisé</h3>
    <p>Ceci est un composant sans la directive page.</p>
    <h3>Bienvenue dans mon composant personnalisé</h3>
    <p>Ceci est un composant sans la directive page.</p>
    <h3>Bienvenue dans mon composant personnalisé</h3>
    <p>Ceci est un composant sans la directive page.</p>
    <h3>Bienvenue dans mon composant personnalisé</h3>
    <p>Ceci est un composant sans la directive page.</p>
    <h3>Bienvenue dans mon composant personnalisé</h3>
    <p>Ceci est un composant sans la directive page.</p>
<div>
    <h3>Bienvenue dans mon composant personnalisé</h3>
    <p>Ceci est un composant sans la directive page.</p>
</div>
