 @page "/add/employee"
 <!--
@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.JSInterop
@using blazor_giftcard.Models
@using Microsoft.AspNetCore.Authorization
@using blazor_giftcard.Services
@inject IJSRuntime JS
@rendermode InteractiveServer
@inject CustomAuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

<head>

<link rel="stylesheet" href="Layout.css" />
</head>
<PageTitle>+Employee</PageTitle>


<div class="container">
<EditForm Model="beneficiary" OnValidSubmit="HandleRegistration" FormName="RegisterBeneficiaryForm" >
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div>
        <InputText @bind-Value="beneficiary.Email" placeholder="Email" />
    </div>
    <div>
        <InputText @bind-Value="beneficiary.Password" type="password" placeholder="Password" />
    </div>
      <div>
        <InputText @bind-Value="beneficiary.Adresse" placeholder="Adresse" />
    </div>
      <div>
        <InputText @bind-Value="beneficiary.SubscriberName" placeholder="Nom de la structure" />
    </div>
      <div>
        <InputText @bind-Value="beneficiary.Telephone"  placeholder="Telephone"/>
    </div>
    <button type="submit">Add</button>
</EditForm>
  <div class="drop drop-1">
  <p>Bienvenue sur la plateforme du service GIFTCARD de GoChap</p>
  </div>
  <div class="drop drop-2"></div>
  <div class="drop drop-3">
<p>Remplissez le formulaire suivant pour enregistrer votre entreprise comme souscripteur</p>
  </div>
  <div class="drop drop-4"></div>
  <div class="drop drop-5"></div>
</div>


@code {
[SupplyParameterFromForm]
private BeneficiaryDto beneficiary{ get; set; } = new BeneficiaryDto ();


} -->
