@page "/login"
@using blazor_giftcard.Services
@using Microsoft.AspNetCore.Components.Forms
@inject CustomAuthenticationStateProvider AuthStateProvider
@inject NavigationManager Navigation
<head>

<link rel="stylesheet" href="Layout.css" />
</head>
<PageTitle>Login</PageTitle>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger">
        @errorMessage
    </div>
}
<div class="loginbox container ">
<EditForm Model="user" OnValidSubmit="HandleLogin" FormName="loginForm">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div>
        <InputText @bind-Value="user.Email" placeholder="Email"  />
    </div>
    <div>
        <InputText @bind-Value="user.Password" type="password" placeholder="Password" />
    </div>
    <button type="submit">Login</button>
</EditForm>
  <div class="drop drop-1"></div>
  <div class="drop drop-2"></div>
  <div class="drop drop-3">
<p>Remplissez le formulaire ci-contre pour acceder à la plateforme</p>
  </div>
  <div class="drop drop-4"></div>
  <div class="drop drop-5"></div>

</div>
@code {
    [SupplyParameterFromForm]
    private User user { get; set; } = new User();
    private string errorMessage;
    private async Task HandleLogin()
    {
        errorMessage = null; // Clear previous error message

        try
        {
            await AuthStateProvider.Login(user.Email, user.Password);
            Navigation.NavigateTo("/view/subscription");
        }
        catch (HttpRequestException ex)
        {
            errorMessage = "Nom d'utilisateur ou mot de passe incorrect.";
            Console.WriteLine($"Login error: {ex.Message}");
        }
        catch (Exception ex)
        {
            errorMessage = "Une erreur inconnue s'est produite.";
            Console.WriteLine($"Unexpected error: {ex.Message}");
        }
    }

    public class User
    {
        public string Email { get; set; }
        public string Password { get; set; }
    }
}
