body {
  background: linear-gradient(45deg, #b3cde0, #006994);

  font-family: Arial, sans-serif;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.loginbox {
  position: absolute;
  top: 120px;
}

.container {
  position: relative;
  width: 80%;
  margin: 0 auto;
}

label {
  margin: auto;
}

form {
  text-align: center;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.8); /* Fond légèrement opaque pour le contraste */
  padding: 2rem;
  width: 400px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
  margin: 2rem auto;
}

p {
  color: #fff; /* Texte en blanc pour contraster avec le fond */
  font-weight: 500;
  opacity: 0.9;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); /* Ombre portée pour le texte */
}

a {
  text-decoration: none;
  color: #dbe1e8; /* Couleur de lien clair pour contraster avec le fond */
  font-size: 12px;
}

a:hover {
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}

a:active {
  text-shadow: none;
}

input {
  background: rgba(255, 255, 255, 0.9); /* Fond blanc légèrement opaque pour une bonne lisibilité */
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 0.5rem;
  width: calc(100% - 1rem);
  max-width: 200px;
  border-radius: 50px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  -moz-backdrop-filter: blur(5px);
  box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
  color: #333; /* Texte sombre pour une bonne lisibilité */
  font-weight: 500;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Ombre légère pour le texte */
  transition: all 0.3s;
  margin-bottom: 1rem;
}

input:hover,
input[type="email"]:focus,
input[type="password"]:focus {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
}

button {
  background: linear-gradient(to right, #4e4376, #2b5876); /* Dégradé sobre pour les boutons */
  color: #fff; /* Texte blanc pour le contraste */
  border-radius: 4px;
}

input[type="button"] {
  margin-top: 10px;
  width: 150px;
  font-size: 1rem;
  cursor: pointer;
}

.drop {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 10px 10px 60px -8px rgba(0, 0, 0, 0.2);
  position: absolute;
  transition: all 0.2s ease;
}

.drop-1 {
  text-align: center;
  justify-content: center;
  height: 100px;
  width: 220px;
  top: 80px;
  left: -80px;
  z-index: -1;
}

.loginbox .drop-1 {
  height: 120px;
  width: 120px;
  top: 60px;
  left: -60px;
  z-index: -1;
}

.drop-2 {
  height: 80px;
  width: 80px;
  bottom: -30px;
  right: -10px;
}

.drop-3 {
  text-align: center;
  justify-content: center;
  height: 115px;
  width: 250px;
  bottom: 30px;
  left: -100px;
  z-index: -1;
}

.loginbox .drop-3 {
  text-align: center;
  justify-content: center;
  height: 100px;
  width: 250px;
  top: -120px;
  left: 250px;
  z-index: -1;
}

.drop-4 {
  height: 120px;
  width: 120px;
  top: 60px;
  right: -60px;
}

.drop-5 {
  height: 60px;
  width: 60px;
  bottom: -70px;
  left: 90px;
  z-index: -1;
}

.loginbox .drop-5 {
  height: 80px;
  width: 80px;
  bottom: -30px;
  left: 10px;
  z-index: -1;
}

::placeholder {
  color: #999; /* Texte de placeholder en gris clair pour le contraste */
}

.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  width: 100px;
  margin-left: 115px;
}

.checkbox-container input[type="checkbox"] {
  accent-color: #2b5876; /* Couleur du checkmark */
  margin-right: 0.5rem;
}

.checkbox-container label {
  color: #fff; /* Texte en blanc pour contraster avec le fond */
  font-weight: 500;
  font-size: 1rem;
}
textarea {
  background: rgba(255, 255, 255, 0.9); /* Fond blanc légèrement opaque */
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 1rem; /* Marge intérieure pour plus de confort */
  width: calc(100% - 2rem); /* Plus large que les inputs */
  max-width: 350px; /* Taille maximale pour la largeur */
  border-radius: 10px; /* Réduction du border-radius */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  -moz-backdrop-filter: blur(5px);
  box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
  color: #333; /* Texte sombre pour la lisibilité */
  font-weight: 500;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Ombre légère pour le texte */
  transition: all 0.3s;
  margin-bottom: 1rem;
  resize: vertical; /* Permet à l'utilisateur de redimensionner verticalement */
}

textarea:hover,
textarea:focus {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
}
