/* Style pour le conteneur principal du tableau */

h3{
    text-align:center;
    text-decoration:underline;
}
.listview-container {
    width: auto;
    margin: 2rem auto;
    background: rgba(255, 255, 255, 0.8); /* Couleur de fond blanc légèrement opaque */
    border-radius: 20px;
    border-left: 1px solid rgba(200, 200, 200, 0.6); /* Bordure subtile grise */
    border-top: 1px solid rgba(200, 200, 200, 0.6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
    padding: 2rem;
}

/* Style pour le tableau */
.listview-table {
    width: auto;
    border-collapse: separate;
    border-spacing: 0;
    margin: 1rem 0;
    background: linear-gradient(45deg, #b3cde0, #006994); /* Dégradé de bleu clair à bleu foncé */
    color: #fff; /* Couleur de texte blanche pour une bonne lisibilité */
}

/* Style pour les en-têtes du tableau */
.listview-table th {
    padding: 0.5rem;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    border-top: 1px solid #004d75; /* Bordure bleue foncée */
    border-bottom: 1px solid #004d75;
    border-left: 1px solid #003d57;
    border-right: 1px solid #003d57;
    background-color: #005f7f; /* Bleu foncé pour les en-têtes */
}

/* Style pour les cellules du tableau */
.listview-table td {
    padding: 0.5rem;
    font-weight: 500;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    border-top: 1px solid #004d75;
    border-bottom: 1px solid #004d75;
    border-left: 1px solid #003d57;
    border-right: 1px solid #003d57;
    background-color: rgba(255, 255, 255, 0.2); /* Fond légèrement transparent */
}

/* Style pour les lignes impaires pour alternance */
.listview-table tr:nth-child(odd) {
    background: rgba(255, 255, 255, 0.15); /* Fond gris très léger pour les lignes impaires */
}

/* Style pour les lignes paires pour alternance */
.listview-table tr:nth-child(even) {
    background: rgba(255, 255, 255, 0.25); /* Fond légèrement plus clair pour les lignes paires */
}

/* Style pour les liens dans le tableau */
.listview-table a {
    color: #ffcc00; /* Couleur dorée pour les liens pour contraste et accentuation */
    text-decoration: none;
}

.listview-table a:hover {
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}

.listview-table a:active {
    text-shadow: none;
}
